<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,920},{106,102}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,50},{106,102}}</string>
                <key>sourceSize</key>
                <string>{224,170}</string>
            </dict>
            <key>ani_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,467},{152,126}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,29},{152,126}}</string>
                <key>sourceSize</key>
                <string>{224,170}</string>
            </dict>
            <key>ani_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,439},{200,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{200,148}}</string>
                <key>sourceSize</key>
                <string>{224,170}</string>
            </dict>
            <key>ani_light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,393},{218,166}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{218,166}}</string>
                <key>sourceSize</key>
                <string>{224,170}</string>
            </dict>
            <key>btn-help.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,640},{74,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,210},{196,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,76}}</string>
                <key>sourceSize</key>
                <string>{196,76}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,920},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,654},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>btn_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,639},{140,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{140,71}</string>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,315},{232,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,78}}</string>
                <key>sourceSize</key>
                <string>{232,78}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,836},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,209},{242,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{242,106}}</string>
                <key>sourceSize</key>
                <string>{244,108}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,842},{70,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{70,78}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,920},{80,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{80,88}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>btn_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,920},{80,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{80,88}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>devourer.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,718},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,87},{289,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,80}}</string>
                <key>sourceSize</key>
                <string>{289,80}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,171},{162,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,81}}</string>
                <key>sourceSize</key>
                <string>{162,81}</string>
            </dict>
            <key>icon_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,842},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_buy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,87},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>icon_buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,842},{112,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,76}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>icon_buy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,842},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>icon_buy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,333},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>icon_buy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,795},{116,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,84}}</string>
                <key>sourceSize</key>
                <string>{116,84}</string>
            </dict>
            <key>icon_buy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,710},{123,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,85}}</string>
                <key>sourceSize</key>
                <string>{123,85}</string>
            </dict>
            <key>icon_freeze.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,768},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,842},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,920},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_obj.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,826},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_review.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,920},{111,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,102}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>icon_save1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,842},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_save2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,842},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_save3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,842},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,710},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,315},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_star_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,369},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,593},{105,128}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{105,128}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{672,188}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,12},{672,188}}</string>
                <key>sourceSize</key>
                <string>{856,264}</string>
            </dict>
            <key>logo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{430,128}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{430,128}}</string>
                <key>sourceSize</key>
                <string>{430,134}</string>
            </dict>
            <key>missionclear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,453},{432,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{432,59}}</string>
                <key>sourceSize</key>
                <string>{506,127}</string>
            </dict>
            <key>missionclear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{476,113}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{476,113}}</string>
                <key>sourceSize</key>
                <string>{506,127}</string>
            </dict>
            <key>missionclear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,323},{474,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{474,71}}</string>
                <key>sourceSize</key>
                <string>{506,127}</string>
            </dict>
            <key>missionclear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{432,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{432,59}}</string>
                <key>sourceSize</key>
                <string>{506,127}</string>
            </dict>
            <key>next_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,167},{270,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{270,42}}</string>
                <key>sourceSize</key>
                <string>{274,44}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{300,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,87}}</string>
                <key>sourceSize</key>
                <string>{300,87}</string>
            </dict>
            <key>reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,394},{166,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{166,42}}</string>
                <key>sourceSize</key>
                <string>{170,44}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,286},{182,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,181}}</string>
                <key>sourceSize</key>
                <string>{182,181}</string>
            </dict>
            <key>spell_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,920},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>spell_freeze.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,920},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>spell_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,920},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>ui_buff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,842},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ui_buff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,654},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ui_game_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,559},{216,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,95}}</string>
                <key>sourceSize</key>
                <string>{216,95}</string>
            </dict>
            <key>ui_grid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,0},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ui_grid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,742},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_grid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,663},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_spector.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{684,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{684,22}}</string>
                <key>sourceSize</key>
                <string>{690,22}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,593},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layerui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c8acbff80c020bd88fda7b14c6cd9c4$</string>
            <key>textureFileName</key>
            <string>layerui.png</string>
        </dict>
    </dict>
</plist>
